rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Sadece giriş yapmış kullanıcılar okuyabilir/yazabilir
    match /{document=**} {
      // Eski kısıtlama kaldırıldı
      allow read, write: if request.auth != null;
    }
  }
}
}
